
@{
    ViewData["Title"] = "Index";
}
@model List<Product>

<h1>Products</h1>

@foreach (var product in Model)
{
    <div>
        <h2>@product.Name</h2>
        <p>Price: @product.Price</p>
        <p>Description: @product.Description</p>
    </div>
}

